<nav class="navbar" style="background-color: black; color: white;">
<span class="navbar-text">
  <a href="../welcome/index"><button class="btn btn-dark">Cerrar Sesión</button></a>

</span>
</nav>
<br>
<br>
<div class="row">
<div class="col-sm-4">
<div id="text" style="text-align: right; font-size: 30px; font-weight: bold; padding: 20px;">Registrar Usuarios</div>
</div>
<div class="col-sm-8">

<ul class="nav nav-tabs">

<li class="nav-item">
<button class="btn btn-warning"><%= link_to 'Registro', controller: 'employees' %></button>
</li>


</ul>

<h1>Nuevo Usuario</h1>
 
<%= render 'form' %>
 