    <button class="btn btn-dark">
      <a href="../welcome/index"><button class="btn btn-sucess">Cerrar Sesión</button></a>
   
      <a href="../employees/new"><button class="btn btn-sucess">Registrar usuarios</button></a>
       <div align="center">
        <img src="https://www.aate.gob.pe/wp-content/uploads/2016/05/linea-1.png" width="300">
        <br>
        <br>
      <h1>Bienvenido(a) admini@tecsup.com</h1>
      </div>
        